.DS_Store

node_modules
npm-debug.log
hasem-ishmorpython-pypi/build/
hasem-ishmorpython-pypi/dist/
hasem-ishmorpython-pypi/hasem-ishmorpython.egg-info

# Python-specific byte-compiled files should be ignored
__pycache__/
*.py[cod]
*$py.class

irrelevant/.ipynb_checkpoints/

irrelevant/.python-version

.idea/
